node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
.vscode

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Data
data/
data-docker-*/
logs/

# IDE
.vscode
.idea

# Data
/data
/static/uploads

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
